spring:
  application:
    name: service-template
external:
  api:
    base-url: ${EXTERNAL_API_BASE_URL}
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
    ratelimiters:
      enabled: true